[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
!/[Aa]ssets/**/*.meta
.vs/
.idea/
.vscode/
*.csproj
*.unityproj
*.sln
*.suo
*.user
*.userprefs
*.pidb
*.pdb
*.mdb
sysinfo.txt
*.apk
*.aab
*.unitypackage
node_modules/
*.log
.env
.env.local
.DS_Store
